.App {
  text-align: center;
}
.jumbotron{
  background-image:url(./images/header-image.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
}

.form-group{
  max-width: 60%;
  padding:0px;
  margin:auto;
  background-color:white;

.book-search-list{
  width:100%; /* its width according to input width */
  border:1px solid #ccc;
  height:auto;
  padding:0px;
  margin:0px;
 li{
 text-align: left;
 }
 }
}

/* Media query */
@media (min-width: 700px) {
  .jumbotron {
      height: 550px;
  }
}